.side-nav-bar {
    width: 6rem;
    text-align: center;
    background-image: linear-gradient(#ff8863, #ff699c, #ff699c);
    ul {
        list-style-type: none;
    }
    .fa {
        color: white;
        margin-top: 3rem;
    }
}
