.borderless td,
.borderless th {
    border: none;
}

th {
    background-color: #f1f1f1;
}

body {
    background: #eee;
}

.navbar {
    background: #f8f8f8;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 20px;
    color: #dd5638;
}

.navbar-right {
    margin-right: 0;
}

.table tbody > tr > td.middle {
    vertical-align: middle;
}

.media {
    padding: 10px 0;
}

.media img,
.fileinput .img-thumbnail,
.img-thumbnail img {
    border-radius: 50%;
    height: 70px;
}

.fileinput {
    text-align: center;
}

.media-left {
    padding: 0 20px;
}

.media-heading {
    color: #dd5638;
    margin-bottom: 10px;
}

.media-body {
    padding-top: 15px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

ul.pagination {
    margin-bottom: 0;
}
.media-object {
    height: 7rem;
}

.hand-pointer {
    cursor: pointer;
}

.search-section {
    margin-bottom: 30px;
    margin-top: 30px;

    input {
        border-radius: 24px;
    }
    button {
        color: white;
        background-image: linear-gradient(to right, #ff8863, #ff699c);
    }
}

.action-section {
    span {
        cursor: pointer;
        color: white;
        margin: 0px 5px;
        background-image: linear-gradient(#ff8863, #ff699c, #ff699c);
    }
}

.action-header {
    width: 20%;
}

.side-nav-bar {
    width: 6rem;
    text-align: center;
    background-image: linear-gradient(#ff8863, #ff699c, #ff699c);
    ul {
        list-style-type: none;
    }
    .fa {
        color: white;
        margin-top: 3rem;
    }
}

.fa {
    cursor: pointer;
}
