<div class="details-section text-center" *ngIf="userDetails">
    <div>
        <img class="detail-image"
            src="https://via.placeholder.com/150/f0d54f/FFFFFF?text=SM"
            alt="...">
        <h3>{{userDetails.name}}</h3>
        <p>General manager of company</p>
    </div>

    <div class="detail-group">
        <div class="row detail-single">
            <div class="col-sm-5">
                Full Name :
            </div>
            <div class="col-sm-7">
                <b>{{userDetails.name}}</b>
            </div>
        </div>
        <div class="row detail-single">
            <div class="col-sm-5">
                Email :
            </div>
            <div class="col-sm-7">
                <b>{{userDetails.email}}</b>
            </div>
        </div>
        <div class="row detail-single">
            <div class="col-sm-5">
                Phone :
            </div>
            <div class="col-sm-7">
                <b> {{userDetails.phone}}</b>
            </div>
        </div>
    </div>
</div>
