.details-section {
    background-color: #f1f1f1;
    .detail-image {
        height: 94px;
        margin: auto;
        margin-top: 15px;
        border-radius: 50%;
    }
    .detail-group {
        margin-top: 60px;
        padding-bottom: 20px;
    }
    .detail-single {
        margin: 25px 0px;
        text-align: left;
        //  padding: 0px 40px;
    }
}
